<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark>
        <a class="navbar-brand" href="#">Company</a>
        <div class="col-8"></div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/DanhSachDangKyNVQS">Danh sách đăng ký NVQS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/DanhSachMien">Danh sách miễn NVQS</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>