<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <style>
        li {
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark" ; text-align: center" }">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="#" class="nav-link text-light fw-bold">Giới thiệu</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light fw-bold">Thông tin đăng ký NVQS 2024</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light fw-bold">Đăng ký trực tuyến</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light fw-bold">Phản ánh kiến nghị</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light fw-bold">Thủ tục hành chính</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light fw-bold">Hỗ trợ</a></li>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <div style="color:red">
                Hello @User.Identity.Name;
            </div>
        }

    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>